body{
    font-family: sans-serif;
}

header{
    padding: auto;
    width: 100%;
}

.banner{
    height: 150px;
    background-color: rgb(71, 136, 215);
}

.banner-content{
    width: 200px;
}

.idea{
    color: rgb(71, 136, 215);
}

.titolo p{
    color: grey;
}

#yellow{
    background-color:rgb(252, 254, 0);
}

